@import "tailwindcss";
.task{
    border-top:3px solid #FFC53D;
    background-color: #333333;
    width: 360px;
    height: 60px;
    color: rgb(246, 243, 243);
    font-size: 22px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.text-note{
    color: red;
    margin-left: 10px;
}